@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Built-in HTML Form elements</h1>
    <p class="lead">Learn how to render a drop-down list, listbox, radio-button group, and check-box group</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Learn how render these built-in HTML Form elements:</p>
        <ul>
            <li>textarea</li>
            <li>drop-down list</li>
            <li>list box, single-selection</li>
            <li>radio button group (single selection)</li>
            <li>list box, multiple-selection</li>
            <li>check box list (multiple selection)</li>
        </ul>
        <p>All will post to a 'form post test app', which simply echoes back the posted data</p>
    </div>
    <div class="col-md-4">
        <h2>Learn more</h2>
        <p>Click the menu links above</p>
    </div>
</div>