@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scaffold Intro</h1>
    <p class="lead">A very useful feature of modern web app frameworks</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Look for...</h2>
        <p>Look for these features. The app uses a really simple data class, 'Person'.</p>
        <ul>
            <li>View model class</li>
            <li>'Manager' class to handle data operations</li>
            <li>Scaffolded controller 'Person'</li>
            <li>Scaffolded views for List, Create, Details, and Edit</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>Click the 'Work With Persons' menu link above.</p>
    </div>
</div>