
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Browse these examples that use HTML Helpers:</p>

<p>@Html.ActionLink("Simple login form", "Login")</p>
<p>@Html.ActionLink("Add product with size info", "Size")</p>
<p>(this page too!)</p>
