@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AutoMapper introduction</h1>
    <p class="lead">A convention-based object mapper</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Important themes</h2>
        <p>This web app example is based upon 'PersistRelated'.</p>
        <p>Look in the Manager class and the controller classes to see its goodness in action.</p>
    </div>
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>Features of this web app example:</p>
        <ul>
            <li>The MvcApplication class (i.e. in Global.asax.cs) is where you configure the maps</li>
            <li>The maps can then be used anywhere in the app</li>
        </ul>
        <p>Click the "Manufacturers" and "Vehicles" links above</p>
    </div>
</div>