@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HTML Helpers</h1>
    <p class="lead">Learn how to code views with less effort</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This web app features:</h2>
        <p>(more to come)</p>
    </div>
    <div class="col-md-4">
        <h2>Learn HTML Helpers</h2>
        <p>Click the menu link above</p>
    </div>
</div>