@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Import from CSV</h1>
    <p class="lead">Learn how to import starter data in a plain text CSV format</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Click the "NFL Quarterbacks" link on the menu above to get started.</p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Look for these features in the code:</p>
        <ul>
            <li>a 'csv' plain text data file, in the App_Data folder</li>
            <li>uses the CsvHelper package that you can find on NuGet</li>
            <li>access the file system; see the store initializer class</li>
            <li>the process uses familiar constructs and app infrastructure</li>
        </ul>
    </div>
</div>