@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Security - Users and Roles</h1>
    <p class="lead">Learn how to work with users, and use Roles in your app.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Browse anonymously.</p>
        <p>Or, login with an account. All accounts provided with this app use 'password!' as the initial password.</p>
        <ul>
            <li>admin</li>
            <li>iantipson</li>
            <li>troybrodie</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>Uses 'local accounts'</li>
            <li>StoreInitializer creates Roles, and some initial users</li>
            <li>ApplicationUser class has additional properties</li>
            <li>When registering for a new account, the new user is placed in the 'Student' role</li>
            <li>The 'admin' user can register new users in the 'Faculty' role</li>
            <li>Conditional menu choices; see _Layout.cshtml</li>
        </ul>
    </div>
</div>