@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Self one-to-many</h1>
    <p class="lead">Shows how to handle a self-referencing one-to-many association</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features of this web app</h2>
        <p>The domain model is "employees".</p>
        <p>An employee can be supervised by another employee. An employee can supervise a collection of employees. Watch for these features:</p>
        <ul>
            <li>Design model properties</li>
            <li>AutoMapper declarations in the MvcApplication class</li>
            <li>Manager class method uses the Include() method, twice!</li>
            <li>View process the associated object and collection</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Click the links on the top-of-page menu.</p>
    </div>
</div>