@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dates and Times</h1>
    <p class="lead">Working with dates and times</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Dates are hard on the web.</p>
        <p>This web app code example introduces you to the important date and time topics.</p>
        <p>Features:</p>
        <ul>
            <li>Simple in-memory object (no persistence)</li>
            <li>A "product" object, with date and time properties</li>
            <li>The 'bootstrap datepicker' package was fetched from NuGet</li>
            <li>The App_Start/BundleConfig.cs file was updated to include that package</li>
            <li>An 'appHelpers.js' script was added to the 'Scripts' folder; it adds 'datepicker' support to the identified element(s)</li>
            <li>In the Scripts section in the 'Create.cshtml' view, a reference was made to that script</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Links to functionality</h2>
        <p><a href="/home/hardcoded">Hard-coded dates and times</a></p>
        <p><a href="/home/details/23">Existing product details</a></p>
        <p><a href="/home/create">Create new product</a></p>
        <p><a href="/home/edit/23">Edit existing product</a></p>
    </div>
</div>