@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Persistence introduction</h1>
    <p class="lead">Vehicles and their manufacturers, using a persistent store</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Important themes</h2>
        <p>
            <ul>
                <li>Entity Framework</li>
                <li>Connection string</li>
                <li>Design model classes</li>
                <li>Data context class</li>
                <li>Store initializer class</li>
                <li>View model classes</li>
                <li>Manager class</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>Click the "Manufacturers" link above</p>
    </div>
</div>