@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Introducing data annotations</h1>
    <p class="lead">Attributes that help data entry, display, and storage</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Important themes</h2>
        <p>This web app example is based upon 'PersistRelated'.</p>
        <p>It features data annotations in both the design model classes, and in the view model classes.</p>
    </div>
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>Features of this web app example:</p>
        <ul>
            <li>Manufacturers controller and views were not changed</li>
            <li>Vehicles controller and views were updated</li>
            <li>Notice the Vehicles controller's "Create" method for post back... if the input data does not pass validation, it's returned to the view, so the user can fix the problem(s)</li>
        </ul>
        <p>Click the "Manufacturers" and "Vehicles" links above</p>
    </div>
</div>