@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Persistence; related entities</h1>
    <p class="lead">Vehicles and their manufacturers, using a persistent store</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Important themes</h2>
        <p>The 'PersistIntro' code example introduced you to a peristent store.</p>
        <p>It worked only with the 'Manufacturer' entity, which is the 'to-one' end of the 'one-to-many' association/relationship.</p>
        <p>This example works with the 'Vehicle' entity. Adding a new Vehicle object requires you to set and select its Manufacturer object. You'll learn how in this code example.</p>
    </div>
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>Features of this web app example:</p>
        <ul>
            <li>'Add' pattern</li>
            <li>'Edit' pattern</li>
            <li>View model class with a SelectList property</li>
        </ul>
        <p>Click the "Manufacturers" link above</p>
    </div>
</div>