@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>One-to-one</h1>
    <p class="lead">Shows how to handle a simple one-to-one association</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features of this web app</h2>
        <p>The domain model is "employees", and "addresses". (It's based on the "SelfOneToMany" web app code example.)</p>
        <p>An employee optionally has a home and/or work address. Watch for these features:</p>
        <ul>
            <li>Design model properties</li>
            <li>AutoMapper declarations in the MvcApplication class</li>
            <li>Manager class method uses the Include() method, twice!</li>
            <li>View processes the associated object</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Click the links on the top-of-page menu.</p>
    </div>
</div>