@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Introduction</h1>
    <p class="lead">The first in-class web app code example</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Important info</h2>
        <p>
            This framework uses the "front controller" pattern.
        </p>
        <p>Also, when you write code, you use "programming by convention" techniques.</p>
    </div>
    <div class="col-md-4">
        <h2>Project areas to study</h2>
        <p>Look around, and study these project areas:</p>
        <ul>
            <li>the Controllers folder; a controller manages user interaction</li>
            <li>the Views folder; each controller has a subfolder of views; a view is an HTML page that's displayed to a user</li>
            <li>the Shared/_Layout.cshtml view provides the look-and-feel template structure</li>
        </ul>
    </div>
</div>