
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<p>This is a <em>placeholder</em> view.</p>
<p>Users in the "Faculty" role can see this page. Others cannot.</p>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
