@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Edit and Delete</h1>
    <p class="lead">Coding patterns for implementing Edit and Delete</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Important themes</h2>
        <p>This web app example is based upon 'AutoMapperIntro'.</p>
        <p>Look in the Manager class and the controller classes to see its goodness in action.</p>
    </div>
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>Features of this web app example:</p>
        <ul>
            <li>'Edit existing' pattern is similar to 'add new', as it requires two methods</li>
            <li>Similar to 'add new', view model classes are very important</li>
        </ul>
        <p>Click the "Manufacturers" and "Vehicles" links above</p>
    </div>
</div>