@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Many-to-many</h1>
    <p class="lead">Shows how to handle a many-to-many association</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features of this web app</h2>
        <p>The domain model is "movies" and "actors".</p>
        <p>A movie can have a collection of actors. An actor can have a collection of movies in which they have had roles. Watch for these features:</p>
        <ul>
            <li>Design model, collection properties</li>
            <li>AutoMapper declarations in the MvcApplication class</li>
            <li>Manager class methods use the Include() method</li>
            <li>Views process the associated collection</li>
            <li>Notice the date formatting</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Click the links on the top-of-page menu.</p>
    </div>
</div>