@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Edit this, using your own info</h2>

<address>
    School of ICT, Seneca College<br />
    Toronto, ON M3J3M6
</address>

<address>
    <strong>Prof. Coleshill:</strong>   <a href="mailto:elliott.coleshill@senecacollege.ca">Email Prof. Coleshill</a><br />
    <strong>Prof. McIntyre:</strong> <a href="mailto:peter.mcintyre@senecacollege.ca">Email Prof. McIntyre</a>
</address>