@{
    ViewBag.Title = "Home Page";
}

<h2>Edit this, using your own info</h2>

<div class="jumbotron">
    <h1>BTI420 Lab 4 - Example Web App</h1>
    <p class="lead">Work with a persistent store. Continue working with view model classes and objects.</p>
    <p><a href="http://petermcintyre.com/bti420/graded-work/lab4/" class="btn btn-primary btn-large" target="_blank">Specifications &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>We need a web app that will enable a retail store worker to add new products that customers can buy. The domain model is Suppliers and Products. Features:</p>
        <ul>
            <li>Peristent store, using Entity Framework</li>
            <li>Coding patterns for this persistent store</li>
            <li>Best practice techniques for using view model objects in 'add new' scenarios</li>
        </ul>
        <p><a class="btn btn-default" href="http://petermcintyre.com/bti420/graded-work/lab4/" target="_blank">Specifications &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Links</h2>
        <p>Links are also on the top-level nav menu.</p>
        <p><a href="/suppliers">Go to the Suppliers page</a></p>
        <p><a href="/products">Go to the Products page</a></p>
    </div>
</div>
