
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<p>This is a <em>placeholder</em> view.</p>
<p>Users in the "Administrator" role can see this page. Others cannot.</p>

<p>
    @Html.ActionLink("Back to home", "Index", "Home")
</p>
